<form id="forgot-password-form" method="post" role="form">
	<!-- Start email field -->
	<div class="form-group">
		<input type="text" name="femail" id="femail" tabindex="1" class="form-control" placeholder="Email">
	</div>
	<!-- Start button submit field -->
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="submit" name="forgot-password-submit" id="forgot-password-submit" tabindex="2" class="form-control btn btn-register"
				 value="Recover Password">
			</div>
		</div>
	</div>
</form>