<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-login" id="panel">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-6">
						<a href='' class="active" id="login-form-link">Login</a>
					</div>
					<div class="col-xs-6">
						<a href='' id="register-form-link">Register</a>
					</div>
				</div>
				<hr>
			</div>
			<!-- Validacion del form -->
			<div class="row" style="color: red; text-align: center;">
				<div class="col-sm-6 col-sm-offset-3">
					<span id='fields-empty' style="display: none;">Los campos estan vacios. </span>
					<span id='fields-error' style="display: none;">Email y/o contraseñas incorrectas. </span>
					<span id='fields-error-1' style="display: none;">Falta completar captcha. </span>
					<span id='fields-error-2' style="display: none;">Contraseñas incorrectas. </span>
					<span id='fields-error-3' style="display: none;">El email ya existe. </span>
					<span id='fields-error-4' style="display: none;">El email no existe. </span>
					<span id='fields-error-5' style="display: none;">La longitud de la contraseña tiene que ser entre 8 y 16 caracteres. </span>
					<span id='fields-error-6' style="display: none;">Introdusca un email valido.</span>
				</div>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<!-- Start login form -->
						<form id="login-form" method="post" role="form" style="display: block;">
							<!-- Start email field -->
							<div class="form-group">
								<input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email">
							</div>
							<!-- Start password field -->
							<div class="form-group">
								<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
							</div>
							<!-- Start reCaptcha field -->
							<div class="capatcha">
								<div class="g-recaptcha" data-sitekey="6LdR0yMUAAAAADdMoSixJ7nn-VEomg2R_81vCoxb"></div><br>
							</div>
							<!-- Start remember me field -->
							<div class="form-group text-center">
								<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
								<label for="remember"> Remember Me </label>
							</div>
							<!-- Start button submit field -->
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6 col-sm-offset-3">
										<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
									</div>
								</div>
							</div>
							<!-- Start forgot password field -->
							<div class="form-group">
								<div class="row">
									<div class="col-lg-12">
										<div class="text-center">
											<a href='' id="forgot-password-link" tabindex="5" class="forgot-password">Forgot Password?</a>
										</div>
									</div>
								</div>
							</div>
						</form>
						<!-- End login form -->
						<!-- Start register form -->
						<div id="register" style="display: none;"></div>
						<!-- End form -->
						<!-- Start forgot password form -->
						<div id="forgot" style="display: none;"></div>
						<!-- End form -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>