<form id="register-form" method="post" role="form">
	<!-- Start username field -->
	<div class="form-group">
		<input type="text" name="rusername" id="rusername" tabindex="1" class="form-control" placeholder="Username">
	</div>
	<!-- Start email field -->
	<div class="form-group">
		<input type="email" name="remail" id="remail" tabindex="1" class="form-control" placeholder="Email Address">
	</div>
	<!-- Start password field -->
	<div class="form-group">
		<input type="password" name="rpassword" id="rpassword" tabindex="2" class="form-control" placeholder="Password">
	</div>
	<!-- Start confirm password field -->
	<div class="form-group">
		<input type="password" name="rconfirm_password" id="rconfirm_password" tabindex="2" class="form-control" placeholder="Confirm Password">
	</div>
	<!-- Start button submit field -->
	<div class="form-group">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
			</div>
		</div>
	</div>
</form>